@import url('vendor.css');
@import url('vendor.css');

body {
  padding: 10px;
  max-width: 600px;
}
.todo-item {
  border-radius: 6px;
  background: #fcfcfc;
  border: 1px solid #eee;
  margin-bottom: 5px;
  min-height: 45px;
}
#new-todo {
  margin-top: 1em;
  padding-left: 10px;
  width: 100%;
  box-sizing: border-box;
  min-height: 3em;
}
#todo-list {
  li {
    position: relative;
    .toggle {
      text-align: center;
      font-size: 24px;
      width: 40px;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      border: none; /* Mobile Safari */
      -webkit-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      box-shadow: none;
    }

    .toggle:after {
      content: '✔';
      line-height: 43px;
      font-size: 20px;
      color: #ccc;
      text-shadow: 0 -1px 0 #bfbfbf;
    }

    .toggle:checked:after {
      color: #0088cc;
      text-shadow: 0 1px 0 #669991;
      bottom: 1px;
      position: relative;
    }

    label {
      word-break: break-word;
      margin: 0;
      padding: 15px;
      margin-left: 30px;
      display: block;
      line-height: 1.2;
      -webkit-transition: color 0.4s;
      -moz-transition: color 0.4s;
      -ms-transition: color 0.4s;
      -o-transition: color 0.4s;
      transition: color 0.4s;
    }

    input.edit {
      margin: 8px 0 0 45px;
    }
    &.completed label {
      color: #a9a9a9;
      text-decoration: line-through;
    }

    .delete {
      display: none;
      position: absolute;
      top: 0;
      right: 10px;
      bottom: 0;
      width: 40px;
      height: 40px;
      margin: auto 0;
      font-size: 22px;
      color: #a88a8a;
      transition: all 0.2s;
      border: 0;
      background: 0;
      &:after {
        content: '✖';
      }
    }
    &:hover .delete {
      display: block;
    }
  }
}
