<header>
  <h1 class="pull-left">ToptalTodo</h1>
  <div id="auth" class="pull-right">
    {{#if auth.user}}
      {{auth.user.email}}
      <a href class="sign-out">[sign out]</a>
    {{else}}
      {{#link-to 'sign-in' classNames="sign-in"}}
        <img src="/assets/plain_sign_in_blue.png">
      {{/link-to}}
    {{/if}}
  </auth>
</header>
{{outlet}}
